
#seconddiv{
background-image : url("../pig.jpg");
height: 500px;
width: 95%;

}

#thirddiv{
	
	background-image : url("../bgreen.jpg");
	height: 400px;
	background-color: green;
	
	
}

#graphic{
	height: 400px;
	background-color: green;
}


.col-lg-9{
		
	
	
}



.firstone{
	padding-top: 100px;
	padding-left: 58px;
	padding-bottom: 20px;
	background-color: green;
}


.dropdown-menu{
	overflow:auto;
	width: 100px;
    height: 160px;
	
}