.box{
	
	background-color:red;
	border:3px;
	
	
}

.firstDiv{
	position:relative;
	height:100%;
	background-color:pink;
}

.secondDiv{
	position:relative;
	height:100%;
	background-color:blue;
}

.small1Div{
	height:350px;
	background-color:orange;
	
}

.small2Div{
	height:350px;
	background-color:blue;
	
}

.outerdiv{
	height:40%;
	width:100%;
	background-color:white;
}

#graph{
	height:350px;
	width:446px;
	background-color:orange;
}


#left{
    float: left;
    margin:2% 2% 2%;
}
#right{
   float: right;
}

#buttonLeft{
	float: left;
	margin:2% 10% 2%;
}



