.box{
	
	background-color:red;
	border:3px;
	
	
}

.firstDiv{
	position:relative;
	height:100%;
	background-color:white;
	padding-bottom: 5px;
	
}

.secondDiv{
	position:relative;
	height:100%;
	background-color:black;
	color:white;
}

.small1Div{
	height:350px;
	background-color:white;
	background-image: url("../bubble.jpg");
	
}

.small2Div{
	height:350px;
	background-color:blue;
	
}

.outerdiv{
	height:40%;
	width:100%;
	background-color:white;
	padding-bottom: 20px;
}

#graph{
	height:350px;
	width:446px;
	background-color:white;
}


.btn {
	background-color:#4d4dff;
}



#make{
    
    margin:2% 2% 2%;
	padding-top: 70px ;
	padding-left: 140px ;
	
	
	
}

#leftchild{
		padding-left: 140px ;
}
#right{
   float: right;
}

#buttonLeft{
	float: left;
	margin:2% 10% 2%;
}



.mySlides {display:none;}



